plugins:
  - jekyll-paginate

url: https://loco-t-wen.github.io/
baseurl: /

paginate: 5
paginate_path: "/blog/page:num/"

collections:
  tags:
    output: true

sass:
  quiet_deps: true

defaults:
  - scope:
      path: ""
      type: "tags"
    values:
      layout: "tag"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"
