@import "theme";

.current {
  color: $green;
}

* { box-sizing: border-box; }

body {
  font-family: system-ui, sans-serif;
}

.content, header {
  margin: 0 auto 0 auto;
  padding: 40px 0 40px 0;
}

.content, header {
  width: 800px;
}

#pfp {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid $magenta;

  &:hover {
    border-color: $yellow;
  }
}
