@import "mocha";

@font-face {
  font-family: 'FontAwesome';
  src:
    url('/assets/fonts/fa.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.current {
  color: $green;
}

* { box-sizing: border-box;}

body {
  font-family: system-ui, FontAwesome, sans-serif;
  display: flex;
  margin: 0;
  height: 100vh;
  @media(max-width: 1099px) {
    flex-direction: column;
    & > header {
      width: 100%;
    }
  }
}

.content, header {
  padding: 40px;
}

header p {
  color: $subtext0;
}

.content {
  margin: 0 auto;
  width: 800px;
}

body > :not(.content) {
  width: 100%;
  @media(min-width: 1100px) {
    width: 300px;
  }
}

body > :not(.content, header) {
  @media(max-width: 1399px) {
    width: 0;
  }
}

#pfp {
  width: min(80%, 150px);
  aspect-ratio: 1 / 1;
  margin: 30px auto 0 auto;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid $mauve;

  &:hover {
    border-color: $yellow;
  }
}

#pfp img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* zooms + crops */
  object-position: center;
}

ul {
  list-style: none;
}

.tags {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 5px;
}

.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
  user-select: none;
}

.spamprotect {
  display: none;
}

.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.contacts {
  display: flex;
  justify-content: center;
  gap: 2em; 
}

.contacts * {
  font-size: 2em
}
