@import "theme";

.current {
  color: $green;
}

* { box-sizing: border-box;}

body {
  font-family: system-ui, FontAwesome, sans-serif;
  display: flex;
  margin: 0;
  height: 100vh;
  @media(max-width: 1100px) {
    flex-direction: column;
  }
}

.content, header {
  margin: 0 auto 0 auto;
  padding: 40px 0 40px 0;
}

.content {
  width: min(1000px, 60%);
  padding: 40px;
}

body > :not(.content) {
  flex: 1;
}

#pfp {
  width: min(80%, 200px);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 5px solid $magenta;

  &:hover {
    border-color: $yellow;
  }
}

ul {
  list-style: none;
}

.tags {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 5px;
}

.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
  user-select: none;
}

.spamprotect {
  display: none;
}

.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.icon {
  height: 1.1em;
  color: inherit;
  vertical-align: middle;
}
