@import "theme";

.current {
  color: $green;
}

* { box-sizing: border-box; }

body {
  font-family: system-ui, sans-serif;
}

.content, header {
  margin: 0 auto 0 auto;
  padding: 40px 0 40px 0;
}

.content, header {
  max-width: 800px;
}

#pfp {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid $magenta;

  &:hover {
    border-color: $yellow;
  }
}

ul {
  list-style: none;
}

.tags {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 5px;
}

.tag {
  background-color: $base02;
  padding: 2px 4px;
}

.meta {
  line-height: 1.6;
  padding-left: 6px;
  border-left: 3px solid $base0;
}
