$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

body {
  background-color:$base;
  color: $text;
  font-size: 14px;
}
header {
  background-color: $mantle;
  padding: 40px;
  text-align: center;
}
  
.tag * {
  background-color: $overlay0;
  padding: 2px 4px;
}
    
.meta {
  line-height: 1.6;
  padding-left: 6px;
  border-left: 3px solid $overlay2;
}

h1,h2,h3,h4,h5,h6 { color:$red; }
a, { 
  color: $peach;
  transition: color 0.3s ease;
}

a:hover { color: $peach; }
button { background-color:$surface0; padding: 5px 10px; }
nav { background-color:$mantle; padding: 10px 15px;} 

html * {
    color-profile: sRGB;
    rendering-intent: auto;
}
